body {
  margin: 0px;
  text-align: center;
  background-color: #8d8d8d;
}

.App {
  padding: 10px;
  border: 10px orange solid;
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  background-color: #b3b3b3;
  margin: 500px auto;
  max-width: 750px;
  height: 500px;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(2, 375px);
}

.buttons {
  border: 1px greenyellow solid;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column-gap: 20px;
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.controls {
  border: 1px palevioletred solid;
}
