body {
  margin: 0px auto;
  text-align: center;
  background-color: #8d8d8d;
  height: 60vh;
  width: 80vh;
}

.App {
  padding: 10px;
  border: 10px orange solid;
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  background-color: #b3b3b3;
  margin: 500px auto;
  max-width: 750px;
  height: 500px;
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(2, 375px);
}

.buttons {
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column-gap: 20px;
}

.drum-pad {
  width: 100px;
  cursor: pointer;
  outline: none;
  height: 100px;
  background-color: gray;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  box-shadow: black 3px 3px 5px;
}

.drum-pad:active {
  transform: translateY(4px);
}

.controls {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-items: center;
}

.toggle-switch {
  display: grid;
  grid-template-columns: repeat(1, 75px);
  justify-items: center;
  width: 75px;
}

.switch {
  height: 30px;
  width: 55px;
  cursor: pointer;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 25px);
  justify-items: center;
  align-items: center;
}

.switch-off {
  width: 25px;
  height: 25px;
}

.switch-on {
  width: 25px;
  height: 25px;
}

.display {
  width: 250px;
  height: 75px;
  text-align: center;
  outline: none;
  border-radius: 2px;
  background-color: gray;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: gray;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-apperance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: green;
  cursor: pointer;
}
